* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	width: 100vw;
}

.gallery {
	background-color: #b9c7ec;
	display: flex;
}

.left-side {
	width: 50%;
	height: 100vh;
}

.right-side {
	width: 50%;
}