* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	width: 100vw;
}

.gallery {
	background-color: #b9c7ec;
	display: flex;
}

.left-side {
	width: 50%;
	height: 100vh;
}

.right-side {
	width: 50%;
}

.details {
	height: 100vh;
	border-bottom: 2px solid #000;
	display: flex;
	justify-content: flex-end;
}

.text-container {
	width: 50%;
	padding-right: 25px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

.text-container span {
	color: rgba(0, 0, 0, 0.4);
	font-size: 0.5vw;
}

h {
	font-size: 3vw;
}

p.desc {
    font-size: 0.7vw;
}