* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.form-section {
    background-color: #D3C7C2;
    height: 100%;
    width: 100%;
}

.image{
    position: absolute;
    left:   0;
    display: flex;
    width: 50%;
    height: 100%;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    right: 0;
    border-radius: 100px 0px 0px 100px;
    background: #FFF;
    box-shadow: 0px 0px 250px 10px rgba(0, 0, 0, 0.25);
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 150px;
}

.wrapper > * {
    align-self: stretch;
}

h {
    font-size: 35px;
    font-weight: 400;
}

.signup {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 40px;
}

.signup > * {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.signup > *:hover {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.50);
}

.signup > *:hover p {
    color: #FFF;
}

h1 {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}

.input-box {
	position: relative;
	display: flex;
	padding: 35px 5px 10px 5px;
	justify-content: center;
	align-items: flex-end;
	gap: 10px;
}

.input-box label {
	position: absolute;
	left: 5px;
	bottom: 12px;
	color: rgba(0, 0, 0, 0.50);
	font-size: 16px;
	font-weight: 400;
	pointer-events: none;
	transition: 0.3s;
}

.input-box input {
	color: rgba(0, 0, 0, 0.50);
	width: 100%;
	border: none;
	outline: none;
	font-size: 1em;
	background-color: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
	bottom: 35px;
}

.icon {
	display: flex;
	width: 20px;
	height: 23px;
	justify-content: center;
	align-items: center;
}

.btn {
	padding: 12px 40px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
	background-color: transparent;
	font-size: 20px;
	font-weight: 700;
	margin: 5px 0px 5px 0px;
	width: 100%;
	transition: 0.2s;
	cursor: pointer;
}

button.btn:hover {
    background: rgba(0, 0, 0, 0.50);
    color: #FFF;
}