* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

.form-section {
    background-color: #D3C7C2;
    height: 100%;
    width: 100%;
}

.image{
    position: absolute;
    left:   0;
    display: flex;
    width: 50%;
    height: 100%;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    right: 0;
    border-radius: 100px 0px 0px 100px;
    background: #FFF;
    box-shadow: 0px 0px 250px 10px rgba(0, 0, 0, 0.25);
    width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 150px;
}

.wrapper > * {
    align-self: stretch;
}

h {
    font-size: 35px;
    font-weight: 400;
}

.signup {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 40px;
}

.signup > * {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.signup > *:hover {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0.50);
}

.signup > *:hover p {
    color: #FFF;
}